Syslinux/
dosfstools/
gparted/
ms-sys/
mtools/
netboot_media/
pixiecore/
tinycore_pxe/
wakeonlan/
/nix/store/aahk18bjra0crk6vvzzn4bjgqq6x4s6y-pixiecore-2020-03-25/
/nix/store/kdd3wjh5wc0mk40cmfrhlkksvakr2wmq-perl5.34.1-wakeonlan-0.41/
